<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= link_to @album.artist.name, @album.artist %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @album.genre %>
</p>

<p>
  <strong>Artist ID:</strong>
  <%= @album.artist_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @album.description %>
</p>

<p>
  <strong>Published date:</strong>
  <%= @album.published_date %>
</p>

<p>
  <strong>Price</strong>
  <%= @album.price %>
</p>

<p>
  <strong>Album Features:</strong>
  <% for feature in @album.features %>
    <%= link_to feature.name, feature %>
  <% end %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
