<% if notice %>
<p id="notice" ><%= notice %></p>
<% end %>
<h1>Your cart</h1><%= button_to 'Empty Cart', @cart, method: :delete, data: { confirm: 'Are you sure you?'} %>
<table>
  <thead>
    <tr>
    	<th></th>
      <th>Album</th>
      <th>Artist</th>
      <th>Unit Price</th>
      <th>Quantity</th>
      <th>Total Price</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cart.line_items.each do |line_item| %>
      <tr>
      	<td><%= image_tag line_item.album.image_path, size: '30x30' %></td>
        <td><%= line_item.album.title %></td>
        <td><%= line_item.album.artist.name %></td>
        <td><%= line_item.album.price %></td>
        <td><%= line_item.quantity %></td>
        <td><%= line_item.total_price %></td>
        <td><%= link_to 'Remove Item', line_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
      <tr>
        <td colspan="4">SubTotal :</td>
        <td><strong><%= number_to_currency(@cart.total_price) %></strong></td>
      </tr>
  </tbody>
</table>

<br>

<%= link_to 'Buy more albums', public_albums_path %>
