<h1>Line Items</h1>
<% if notice %>
<p id="notice" ><%= notice %></p>
<% end %>
<table>
  <thead>
    <tr>
      <th>Line Item ID</th>
      <th>Cart ID</th>
      <th>Album</th>
      <th>Artist</th>
      <th>Price</th>
      <th>Quantity</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @line_items.each do |line_item| %>
      <tr>
        <td><%= line_item.id %></td>
        <td><%= line_item.cart.id %></td>
        <td><%= line_item.album.title %></td>
        <td><%= line_item.album.artist.name %></td>
        <td><%= line_item.price %></td>
        <td><%= line_item.quantity %></td>
        <td><%= link_to 'Destroy', line_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>