<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @feature.name %>
</p>

<p>
  <strong>Albums that have this feature: </strong><br>
  <% for album in @feature.albums %>
  <%= link_to album.title, album %> by <%= link_to album.artist.name, album.artist %> <br/>
  <% end %>
</p>

<%= link_to 'Edit', edit_feature_path(@feature) %> |
<%= link_to 'Back', features_path %>
